<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/dependencies/bootstrap-4/bootstrap-4.css"
        />
        <link rel="stylesheet" href="/dependencies/fontawesome.css" />
        <link rel="stylesheet" href="/styles/importer.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <title>Coffee</title>
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                <img
                    src="/images/timthumb.png"
                    alt="timthumb"
                    width="140"
                    height="100"
                />
            </div>
            <div class="header-right">
                <div class="header-right-links">
                    <a href="#">Sign-Up</a>
                    <a href="#">Sign-In</a>
                    <a href="#">Shop</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </body>
</html>
