.signup_start_container {
    width: 100%;
    height: 100%;
}
.header-left-signup{
    margin-left: 60px;
}
.signup_header {
    width: 100%;
    height: 480px;
    background-image: url('/images/Sign_up/sign_up_main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header-right-links-sign-up a{
      color: red;
  }
.signup_header_text {
    text-align: center;
    color: white;
    padding-top: 250px;
}

  .main-cont-signup{
      margin-top: 100px;
  }