.shop-start-container {
    width: 100%;
    height: 100%;
}
.e-shop_header {
    width: 100%;
    height: 480px;
    background-image: url('/images/shop/shop.jpg');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: 100% 100%;
}
.e-shop_header_text {
    text-align: center;
    color: white;
    padding-top: 250px;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  #max_price{
      width: 60px;
  }
  #min_price{
      width: 60px;
  }