.signin_start_container {
    width: 100%;
    height: 100%;
}
.signin_header {
    width: 100%;
    height: 480px;
    background-image: url('/images/Sign_in/sign_in_main.jpg');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: 100% 100%;
}
.signin_header_text {
    text-align: center;
    color: white;
    padding-top: 250px;
}

  .main-cont-signin{
      margin-top: 100px;
  }