.cart {
  padding-left: 12px;
}

.emtycart {
  padding-left: 12px;
  font-size: 30px;
  color: #ff0000;
}

.cart_header {
  background-image: url('/images/Cart/main_cashier.jpg');
}

.cart_header_text {
  text-align: center;
  color: #000000;
  padding-top: 250px;
}


#paypal-button {
  margin-left : auto;
  margin: auto;
  width: 50%;
  padding: 10px;
 
}
