<script src="https://js.stripe.com/v3/"></script>
<!--<script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
<div class="cart_start_container">
  <div class="top_header cart_header">
    <div class="header-left ">
      <img src="/images/layout/main_logo.png" alt="cyberCafeLogo" width="140" height="100" />
    </div>
    <div class="header-right">
      <div class="header-right-links">
        <a href="/demo/homepage" >Home</a>
        <a href="/signup" class="sign-up-link" >Sign-Up</a>
        <a href="/login" class="log-in-link">Sign-In</a>
        <a href="/demo/homepage/shop" >Shop</a>
        <a href="/demo/contact-us">Contact Us</a>
        <a href="/logout" class="logout-link"">Logout</a>
        <a class="user-acount-link" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
    <a href="/cart" class="cart-link"><i class="fa fa-shopping-cart" ></i>
      
    </a>
    </div>
  </div>
  <div class="header-right">
    <div class="header-right-links">
      <a href="/demo/homepage" >Home</a>
      <a href="/signup" class="sign-up-link" >Sign-Up</a>
      <a href="/login" class="log-in-link">Sign-In</a>
      <a href="/demo/homepage/shop" >Shop</a>
      <a href="/demo/contact-us">Contact Us</a>
      <a href="/logout" class="logout-link"">Logout</a>
      <a class="user-acount-link" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
  <a href="/cart" class="cart-link"><i class="fa fa-shopping-cart" ></i>
        <% if (req.session.cart) { %>
        <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
        <% } %>
  </a>
  </div>
</div>
<div class="cart_header_text">
  <h1>PAYEMENT</h1>
</div>
</div>


  <button id="checkout-button">Checkout</button>
<!-- <div id="paypal-button"></div> -->


<!-- Add an event handler to the checkout button -->

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('pk_test_51IcCKmB8QCrXCSB3nhNN2XaLL1natqhRSAL41ghmwSZAz7YNCtdq2MlSEaoYXfWhiqQHpb1brKPUl6irsl9zH6QO00U8WqMI1u');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    fetch('/create-checkout-session', {
      method: 'POST',
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using `error.message`.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>





<!-- <script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'ASacIfWemabfH-WLAQtGqofToAhVXtscByXX9eYp5NTIpPX9j5pFUbpvWo5fmXVkp8UBAaNozYizM8ZD',
      production: 'demo_production_client_id'
    },
    // Customize button 
    locale: 'en_US',
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '55.01',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
      });
    }
  }, '#paypal-button');

  let layoutHeaderHome = document.querySelector('.header');
let documentFullHeight = document.documentElement.clientHeight;
window.onscroll = function () {
    scrollFunction();
};


</script> -->