<div class="contact_start_container">
  <div class="contact_header">
    <div class="header-left">
      <img src="/images/layout/main_logo.png" alt="cyberCafeLogo" width="140" height="100" />
    </div>
    <div class="header-right">
      <div class="header-right-links">
        <a href="/demo/homepage">Home</a>
        <a href="/signup" class="sign-up-link">Sign-Up</a>
        <a href="/login" class="log-in-link">Sign-In</a>
        <a href="/demo/homepage/shop">Shop</a>
        <a href="/demo/contact-us">Contact Us</a>
        <a href="/logout" class="logout-link">Logout</a>
        <a class="user-acount-link" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
    <a href="/cart" class="cart-link"><i class="fa fa-shopping-cart"></i>
          <% if (req.session.cart) { %>
          <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
          <% } %>
        </a>
      </div>
    </div>
    <div class="contact_header_text">
      <h1>CONTACT US</h1>
    </div>
  </div>
  <div class="container-fluid main-cont-contact">
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <h2>Get in touch with us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non, odit optio aliquam dicta ab?</p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <p>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-tumblr-square fa-4x" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="col-lg-4 mx-auto">
        <form>
            <div class="form-group">
          <input type="text" class="form-control mb-2 mr-lg-2" placeholder="Your name" name="name">
          <input type="email" class="form-control mb-2 mr-lg-2" placeholder="Your email" name="email">
        </div>
        <div class="form-group">
          <input type="email" class="form-control mb-2 mr-lg-2" placeholder="Subject" name="subject">
        </div>
        <div class="form-group">
          <textarea name="message" cols="30" rows="6" class="form-control mb-2 mr-lg-2"
            placeholder="Mesage here..."></textarea>
        </div>
          <button type="submit" class="btn btn-dark mb-2" style="width: 100%;">Send Message</button>
        </form>
      </div>
      <div class="col-lg-4 mx-auto">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Day of Week</th>
              <th>Open Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Monday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Wednsday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>06:25 - 19:45</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>08:25 - 18:00</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <dir class="row">
      <div class="col-lg-6 mx-auto">
        <div class="mapouter">
          <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
              src="https://maps.google.com/maps?q=old%20traford&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0"
              scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
              }

            </style><a href="https://www.embedgooglemap.net">google maps plugin html</a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
              }

            </style>
          </div>
        </div>
      </div>
    </dir>
  </div>
      </div>
      <script>
            let layoutHeaderHome = document.querySelector('.header');
    window.onscroll = function () {
        scrollFunction();
    };
      </script>