<div class="shop-start-container">
    <div class="e-shop_header">
        <div class="header-left">
            <img
                src="/images/cyberCafeLogo.png"
                alt="cyberCafeLogo"
                width="140"
                height="100"
            />
        </div>
        <div class="header-right">
            <div class="header-right-links">
                <a href="#">Home</a>
                <a href="#">Sign-Up</a>
                <a href="#">Sign-In</a>
                <a href="#">Shop</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="e-shop_header_text">
            <h1>ONLINE SHOP</h1>
            <h2>DELIVERY TO YOUR PLACE</h2>
        </div>
    </div>
</div>
